@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-1: #73ebf8;
  --clr-2: #73ebf8;
  --clr-3: #73ebf8;
  --clr-4: rgb(145, 173, 231);
  --clr-5: rgb(115, 157, 248);
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

mark {
  -webkit-animation: 1s highlight 0.5s 1 normal forwards;
  animation: 1s highlight 0.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #dbeafe 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  padding: 10px;
  border-radius: 10px;
}

.spinner {
  position: relative;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 3s linear infinite;
  z-index: -1;
}

.spinner::after {
  filter: blur(0.5rem);
}
